# ========================
# virtual envs
# ========================
.venv/
venv/
env/

# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# OS-specific
# ========================
# macOS
.DS_Store
# Linux
*~

# ========================
# IDEs / editors
# ========================
.vscode/
.idea/
*.swp

# ========================
# temp files
# ========================
*.log
tmp/
temp/
checkpoints/
.ipynb_checkpoints/


# ========================
# Kaggle
# ========================
.kaggle/
